<div class="container pb-5">
    <blockquote class="blockquote mt-5">
        <p class="mb-0">Рекомендую открывать сайт на компьютере, потому что некоторые элементы будут плохо работать.</p>
        <footer class="blockquote-footer">Совет от автора</footer>
    </blockquote>
    <div class="card mt-5">
        <div class="card-body">
            <app-article></app-article>
        </div>
    </div>
    <div class="card mt-5">
        <div class="card-body">
            <app-detail></app-detail>
        </div>
    </div>
    <div class="card mt-5">
        <div class="card-body">
            <app-component></app-component>
        </div>
    </div>
    <div class="card mt-5">
        <div class="card-body">
            <app-stage></app-stage>
        </div>
    </div>
    <div class="card mt-5">
        <div class="card-body">
            <app-roket></app-roket>
        </div>
    </div>
</div>
