<div class="row">
    <div class="col-12 col-md-6 mb-5">
        <h1>Деталь</h1>
        <p class="body-text">
            Самый первый класс, от которого мы будем наследовать другие.
            Он просто создает визуальный облик, содержит все что связано с этим
            Там может быть массив из точек, или класс какой-то формы <em>(например мы создадим класс квадрат и класс круг)</em>.
        </p>
    </div>

    <div class="col-12 col-md-6">
        <div class="roket">
            <img src="../../../assets/Roket.svg" alt="roket" id="roket">
            <img src="../../../assets/Roket-crossed.svg" alt="roket-crossed" id="crossed">
        </div>
       
    </div>

    <div class="col-12 mb-5">
        <p class="body-text">
            Таким образом мы можем отрисовать целую ракету, у меня простая 2D моделька, и чтобы отрисовать ее нам нужно всего 5 точек и как бы вся ракета является одной деталькой и нам неважно что в ней находится.
            <br><br>
            То есть этот класс отвечает за визуал и отрисовку клиентом, ну и в Json-е это все будет очень просто выглядеть.
            Я для примера взял два параметра: <strong>ширина</strong> и <strong>высота</strong>
            <br><br>
            Вообще, так как у нас нет тут никаких методов, можно это сделать просто объектом
            или например в TypeScript есть interface, очень удобно можно через него все сделать.
        </p>
    </div>

    <div class="col-6 col-md-4">
        <h3>Панель редактирования</h3>
        <form [formGroup]="myForm" class='form-container'>

            <mat-form-field class="form-field">
                <input matInput placeholder="width" formControlName="width" [(ngModel)]='detail.width'>
            
                <mat-error *ngIf='width.invalid'>
                    Не меньше 50 и не больше 400
                </mat-error>
            </mat-form-field>

            <mat-form-field class="form-field">
                <input matInput placeholder="height" formControlName="height" [(ngModel)]='detail.height'>
            
                <mat-error *ngIf='height.invalid'>
                    Не меньше 50 и не больше 400
                </mat-error>
            </mat-form-field>

        </form>
    </div>
    <div class="col-6 col-md-4">
        <div class="example-boundary">
            <div
            class="example-box"
            cdkDragBoundary=".example-boundary" 
            cdkDrag
            [ngStyle]="{ 'width': detail.width + 'px', 'height': detail.height + 'px'}">
                Я просто деталька
            </div>
        </div>
    </div>

    <div class="col-6 col-md-4">
        <p>
           Вот так это будет в JSON
        </p>
        <hr>
        <pre>
            {{ detail | json }}
        </pre>
    </div>
</div>
