<div class="row">
    <div class="col-12 mb-5">
        <div class="grid-text">
            <h1>Деталь</h1>
            <div class="mat-body">
                Самый первый класс, от которого мы будем наследовать другие
            </div>
        </div>
    </div>

    <div class="col-4">
        <form [formGroup]="myForm" class='form-container'>

            <mat-form-field class="form-field">
                <input matInput placeholder="width" formControlName="width" [(ngModel)]='detail.width'>
            
                <mat-error *ngIf='width.invalid'>
                    Не меньше 50 и не больше 400
                </mat-error>
            </mat-form-field>

            <mat-form-field class="form-field">
                <input matInput placeholder="height" formControlName="height" [(ngModel)]='detail.height'>
            
                <mat-error *ngIf='height.invalid'>
                    Не меньше 50 и не больше 400
                </mat-error>
            </mat-form-field>

        </form>
    </div>
    <div class="col-4">
        <div class="example-boundary">
            <div
            class="example-box"
            cdkDragBoundary=".example-boundary" 
            cdkDrag
            [ngStyle]="{ 'width': detail.width + 'px', 'height': detail.height + 'px'}">
                Я просто деталька
            </div>
        </div>
    </div>

    <div class="col-4">
        <h2>
            {{ detail | json }}
        </h2>
    </div>
</div>
