<div class="example-container">
    <h2>Components</h2>
  
    <div
      cdkDropList
      #todoList="cdkDropList"
      [cdkDropListData]="componetns"
      [cdkDropListConnectedTo]="[doneList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of componetns" cdkDrag>{{item}}</div>
    </div>
  </div>
  
  <div class="example-editor">
    <h2>Editor</h2>
    <div class="example-boundary">
        <div
        cdkDropList
        #doneList="cdkDropList"
        [cdkDropListData]="editor"
        [cdkDropListConnectedTo]="[todoList]"
        class="example-list-editor"
        (cdkDropListDropped)="drop($event)"
        cdkDragBoundary=".example-boundary">
            <div class="example-box" *ngFor="let item of editor" cdkDrag>{{item}}</div>
        </div>
    </div>
</div>
  
  