.example-boundary {
    width: 90%;
    height: 90%;
    max-width: 100%;
    border: dotted #ccc 2px;
}



.grid-text {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
}

.component {
    display: flex;
    justify-content: center;
    padding: 20px;
    height: 300px;

    #component {
    }
}