<div class="row">
    <div class="col-12 col-md-6 mb-5">
        <h1>Компонент</h1>
        <div class="body-text">
           В компоненте мы наследуем деталь чтобы задать ему форму.
           Тут уже будет больше параметров:
           <ul>
               <li>
                   Тип
                <ul>
                    <li>Двигатель</li>
                    <li>Баки</li>
                    <Li>Полезная нагрузка</Li>
                    <li>...</li>
                </ul>
               </li>
               <li>Вес</li>
               <li>Толщина</li>
               <li>Имя</li>
           </ul>
        </div>
    </div>

    <div class="col-12 col-md-6 component">
        <img src="../../../assets/Components.svg" alt="components" id="components">
    </div>

    <div class="col-12 mb-5">
        <p class="body-text">
           В поле поле <em>тип</em> мы можем тоже вставить класс или интерфейс<em>(Двигатель, Бак, у них будет набор своих параметров)</em>
           <br>
           Дальше можно делать много разных нужных нам фунций и методов, все что угодно.
        </p>
    </div>

    <div class="col-6 col-md-4">
       
        <app-form [component]='component'></app-form>

    </div>

    <div class="col-6 col-md-4">
        <div class="example-boundary">
          <app-component-box [component]='component'></app-component-box> 
        </div>
    </div>

    <div class="col-6 col-md-4">
        <pre>{{ component | json }}</pre>
    </div>
</div>
