<div class="row">
    <div class="col-12 col-md-6 mb-5">
        <h1>Компонент</h1>
        <p class="body-text">
           Это уже полноценный компонент, из компонентов мы будет деалать ступени.
           Компонент наслудет класс детали, но вот он уже содержит логику для расчета веса и всего такого.
           Ну то есть мы наследуем все, что связано с формой и наполняем функционалом для всех рассчетов.
           <br><br>
           У компонента есть поле <em>тип</em>, в которые мы можем тоже вставить класс <em>(Класс Двигатель, Баки, у этих классов будет набор своих параметров)</em>
        </p>
    </div>

    <div class="col-12 col-md-6 mb-5 component">
        <img src="../../../assets/Components2.svg" alt="components" id="components">
    </div>

    <div class="col-6 col-md-4">
       
        <app-form [component]='component'></app-form>

    </div>

    <div class="col-6 col-md-4">
        <div class="example-boundary">
          <app-component-box [component]='component'></app-component-box> 
        </div>
    </div>

    <div class="col-6 col-md-4">
        <pre>{{ component | json }}</pre>
    </div>
</div>
